*{
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
  padding: 0;
/* font not changing weight */

}
/* nav */
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  font-size: 14.46px;
  color: white;
  font-weight: normal;
  
}
.fa-earth-africa{
  padding:10px;
  font-size: 30px;
}

/* card */
.information-container{
  margin-top:25px
}
.card-container{
  display: flex;
  margin: 40px;
  border-bottom: 1px solid #918E9B;
}

.card-image{
  border-radius: 10px;
  flex:1;
  object-fit: fill;
}
.img-container{
padding-right: 25px;
display: flex;

}

.fa-location-dot{
  color:#F55A5A;
  font-size: 20px;
  padding-right: 5px;
}

.date{
  font-weight: bold;
}

.google-link{
 color: #918E9B
}

h1{
  margin-top: 10px;
  margin-bottom: 5px;
}